@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}

.back{
  background: url(/src/assets/home/chef-service.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  position: relative;
}
.feback{
  background: url(/src/assets/home/featured1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  position: relative;
  opacity: 2;
  background-attachment: fixed;
}
.backhead{
  text-align: center;
  position: absolute;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: white;
  

}
.feture{
  text-align: center;
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
 
 
}

.contact{
  background: url(../src/assets/contact/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
}

.text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
}

.menuCover{
  /* background: url(../src/assets/menu/banner3.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
}
.menuHeadd{
  text-align: center;
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.534);
  /* padding: 80px 130px; */
}
.loginBack{
  background: url(../src/assets/others/authentication.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
li{
  list-style: none;
}

